{{!< default}}

    <header id="header" class="home-header blog-background banner-mask lazy {{#if @blog.cover_image}}" style="background-image: url({{@blog.cover_image}}){{else}}no-cover{{/if}}">
        <div class="nav-header-container">
             <a href="{{@blog.url}}" class="svg-logo">
<span class="svg-logo" >
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<img src="{{@blog.logo}}" class="svg-logo">
</span>
</a>
        </div>
        <div class="header-wrap">
        <div class="home-info-container">
            <a href="{{@blog.url}}"><h2>{{@blog.title}}</h2></a>
            <h4>{{@blog.description}}</h4>
        </div>
        <div class="arrow_down" data-offset="-45">
               <a href="javascript:;"></a>
        </div>
    </header>
{{! The main content area on the homepage }}
<main id="main" class="content homepage" role="main">
{{! Each post will be output using this markup }}
{{> "loop"}}
{{!! After all the posts, we have the previous/next pagination links }}

{{!-- {{pagination}} --}}
</main>
